# EDA Global

## Hotel Reviews

In [ ]:
import polars as pl

In [ ]:
df = pl.read_csv("../data/original/Hotel_reviews/Hotel_Reviews_3.csv", encoding="utf8", ignore_errors=True)

In [ ]:
print(df.shape)

for col in df.columns:
    n_unique = df[col].n_unique()
    print(f"{col}: {n_unique} valeurs uniques")

(10000, 26)


id: 1433 valeurs uniques
dateAdded: 1341 valeurs uniques
dateUpdated: 1397 valeurs uniques
address: 1432 valeurs uniques
categories: 631 valeurs uniques
primaryCategories: 4 valeurs uniques
city: 842 valeurs uniques
country: 1 valeurs uniques
keys: 1433 valeurs uniques
latitude: 1430 valeurs uniques
longitude: 1431 valeurs uniques
name: 1311 valeurs uniques
postalCode: 1085 valeurs uniques
province: 46 valeurs uniques
reviews.date: 3370 valeurs uniques
reviews.dateAdded: 1 valeurs uniques
reviews.dateSeen: 701 valeurs uniques
reviews.rating: 5 valeurs uniques
reviews.sourceURLs: 8228 valeurs uniques
reviews.text: 9770 valeurs uniques
reviews.title: 8471 valeurs uniques
reviews.userCity: 3101 valeurs uniques
reviews.userProvince: 245 valeurs uniques
reviews.username: 9222 valeurs uniques
sourceURLs: 1433 valeurs uniques
websites: 1327 valeurs uniques

No primary key, so one must be introduced artificially

In [ ]:
df = pl.read_csv("../data/original/Hotel_reviews/Hotel_Reviews_1.csv", encoding="latin1", ignore_errors=True)

# Id artificially
df_concat = df.with_columns([
    pl.arange(1, df.height + 1).alias("id")
])

df_concat.write_csv("../data/processed/data_hotel_reviews_1.csv")

In [25]:
df = pl.read_csv("../data/original/Hotel_reviews/Hotel_Reviews_2.csv", encoding="latin1", ignore_errors=True)

# Id artificially
df_concat = df.with_columns([
    pl.arange(1, df.height + 1).alias("id")
])

df_concat.write_csv("../data/processed/data_hotel_reviews_2.csv")

In [28]:
df = pl.read_csv("../data/original/Hotel_reviews/Hotel_Reviews_3.csv", encoding="latin1", ignore_errors=True)

# Id artificially
df_concat = df.with_columns([
    pl.arange(1, df.height + 1).alias("id")
])

df_concat.write_csv("../data/processed/data_hotel_reviews_3.csv")

### European Hotel Reviews

In [ ]:
df = pl.read_csv("../data/original/Hotel_reviews/Hotel_Reviews_European.csv", encoding="latin1", ignore_errors=True)

print(df.shape)

for col in df.columns:
    n_unique = df[col].n_unique()
    print(f"{col}: {n_unique} valeurs uniques")

(515738, 17)


Hotel_Address: 1493 valeurs uniques
Additional_Number_of_Scoring: 480 valeurs uniques
Review_Date: 731 valeurs uniques
Average_Score: 34 valeurs uniques
Hotel_Name: 1492 valeurs uniques
Reviewer_Nationality: 227 valeurs uniques
Negative_Review: 330011 valeurs uniques
Review_Total_Negative_Word_Counts: 402 valeurs uniques
Total_Number_of_Reviews: 1142 valeurs uniques
Positive_Review: 412601 valeurs uniques
Review_Total_Positive_Word_Counts: 365 valeurs uniques
Total_Number_of_Reviews_Reviewer_Has_Given: 198 valeurs uniques
Reviewer_Score: 37 valeurs uniques
Tags: 55242 valeurs uniques
days_since_review: 731 valeurs uniques
lat: 1473 valeurs uniques
lng: 1473 valeurs uniques

In [19]:
# Id artificially
df_concat = df.with_columns([
    pl.arange(1, df.height + 1).alias("id")
])

df_concat.write_csv("../data/processed/dataset/data_european_hotel_reviews.csv")

## TripAdvisor

In [ ]:
df = pl.read_csv("../data/original/TripAdvisor_Hotel_Reviews/reviews.csv")

print(df.shape)

for col in df.columns:
    n_unique = df[col].n_unique()
    print(f"{col}: {n_unique} valeurs uniques")

(878561, 10)


ratings: 55523 valeurs uniques
title: 631300 valeurs uniques
text: 877573 valeurs uniques
author: 577942 valeurs uniques
date_stayed: 169 valeurs uniques
offering_id: 3945 valeurs uniques
num_helpful_votes: 100 valeurs uniques
date: 3948 valeurs uniques
id: 878561 valeurs uniques
via_mobile: 2 valeurs uniques

In [ ]:
df.write_csv("../data/processed/dataset/data_tripadvisor_hotel_reviews.csv")

## Airline Reviews

In [6]:
df = pl.read_csv("../data/original/Airline_Reviews/BA_AirlineReviews.csv", encoding="latin1", ignore_errors=True)

print(df.shape)
print(" \n")
for col in df.columns:
    n_unique = df[col].n_unique()
    print(f"{col}: {n_unique} valeurs uniques")

(3701, 20)


: 3701 valeurs uniques
OverallRating: 11 valeurs uniques
ReviewHeader: 2684 valeurs uniques
Name: 2906 valeurs uniques
Datetime: 1820 valeurs uniques
VerifiedReview: 2 valeurs uniques
ReviewBody: 3692 valeurs uniques
TypeOfTraveller: 5 valeurs uniques
SeatType: 5 valeurs uniques
Route: 1591 valeurs uniques
DateFlown: 113 valeurs uniques
SeatComfort: 6 valeurs uniques
CabinStaffService: 6 valeurs uniques
GroundService: 6 valeurs uniques
ValueForMoney: 6 valeurs uniques
Recommended: 2 valeurs uniques
Aircraft: 203 valeurs uniques
Food&Beverages: 6 valeurs uniques
InflightEntertainment: 6 valeurs uniques
Wifi&Connectivity: 6 valeurs uniques

In [ ]:
df_new = df.rename({df.columns[0]: "id"})  

print(df_new.head())

shape: (5, 20)
┌─────┬────────────┬────────────┬────────────┬───┬──────────┬────────────┬────────────┬────────────┐
│ id  ┆ OverallRat ┆ ReviewHead ┆ Name       ┆ … ┆ Aircraft ┆ Food&Bever ┆ InflightEn ┆ Wifi&Conne │
│ --- ┆ ing        ┆ er         ┆ ---        ┆   ┆ ---      ┆ ages       ┆ tertainmen ┆ ctivity    │
│ i64 ┆ ---        ┆ ---        ┆ str        ┆   ┆ str      ┆ ---        ┆ t          ┆ ---        │
│     ┆ i64        ┆ str        ┆            ┆   ┆          ┆ i64        ┆ ---        ┆ i64        │
│     ┆            ┆            ┆            ┆   ┆          ┆            ┆ i64        ┆            │
╞═════╪════════════╪════════════╪════════════╪═══╪══════════╪════════════╪════════════╪════════════╡
│ 0   ┆ 1          ┆ "Service   ┆ L Keele    ┆ … ┆ null     ┆ null       ┆ null       ┆ null       │
│     ┆            ┆ level far  ┆            ┆   ┆          ┆            ┆            ┆            │
│     ┆            ┆ worse then ┆            ┆   ┆          ┆            ┆            ┆            │
│     ┆            ┆ …          ┆            ┆   ┆          ┆            ┆            ┆            │
│ 1   ┆ 3          ┆ "do not    ┆ Austin     ┆ … ┆ A320     ┆ 1          ┆ 2          ┆ 2          │
│     ┆            ┆ upgrade    ┆ Jones      ┆   ┆          ┆            ┆            ┆            │
│     ┆            ┆ members    ┆            ┆   ┆          ┆            ┆            ┆            │
│     ┆            ┆ based …    ┆            ┆   ┆          ┆            ┆            ┆            │
│ 2   ┆ 8          ┆ "Flight    ┆ M A Collie ┆ … ┆ A320     ┆ 4          ┆ null       ┆ null       │
│     ┆            ┆ was smooth ┆            ┆   ┆          ┆            ┆            ┆            │
│     ┆            ┆ and quick" ┆            ┆   ┆          ┆            ┆            ┆            │
│ 3   ┆ 1          ┆ "Absolutel ┆ Nigel Dean ┆ … ┆ null     ┆ null       ┆ null       ┆ null       │
│     ┆            ┆ y hopeless ┆            ┆   ┆          ┆            ┆            ┆            │
│     ┆            ┆ airline"   ┆            ┆   ┆          ┆            ┆            ┆            │
│ 4   ┆ 1          ┆ "Customer  ┆ Gaylynne   ┆ … ┆ null     ┆ 1          ┆ 1          ┆ 1          │
│     ┆            ┆ Service is ┆ Simpson    ┆   ┆          ┆            ┆            ┆            │
│     ┆            ┆ non exist… ┆            ┆   ┆          ┆            ┆            ┆            │
└─────┴────────────┴────────────┴────────────┴───┴──────────┴────────────┴────────────┴────────────┘

In [ ]:
df_new.write_csv("../data/processed/dataset/data_airline_reviews_1.csv")

In [10]:
# 2eme airline review
df = pl.read_csv("../data/original/Airline_Reviews/airlines_reviews.csv", encoding="latin1", ignore_errors=True)

print(df.shape)
print(" \n")
for col in df.columns:
    n_unique = df[col].n_unique()
    print(f"{col}: {n_unique} valeurs uniques")

(8100, 17)


Title: 7614 valeurs uniques
Name: 6583 valeurs uniques
Review Date: 2549 valeurs uniques
Airline: 10 valeurs uniques
Verified: 3 valeurs uniques
Reviews: 8099 valeurs uniques
Type of Traveller: 4 valeurs uniques
Month Flown: 107 valeurs uniques
Route: 5566 valeurs uniques
Class: 4 valeurs uniques
Seat Comfort: 5 valeurs uniques
Staff Service: 5 valeurs uniques
Food & Beverages: 5 valeurs uniques
Inflight Entertainment: 6 valeurs uniques
Value For Money: 5 valeurs uniques
Overall Rating: 10 valeurs uniques
Recommended: 2 valeurs uniques

In [11]:
# Id artificially
df_concat = df.with_columns([
    pl.arange(1, df.height + 1).alias("id")
])

df_concat.write_csv("../data/processed/dataset/data_airline_reviews_2.csv")

## Restaurant Reviews

In [ ]:
df = pl.read_csv(
    "../data/original/Restaurant_Reviews/Restaurant_Reviews.tsv",
    separator="\t",
    ignore_errors=True,      
    encoding="latin1"        
)

print(df.head())
print(df.shape)

shape: (5, 2)
┌─────────────────────────────────┬───────┐
│ Review                          ┆ Liked │
│ ---                             ┆ ---   │
│ str                             ┆ i64   │
╞═════════════════════════════════╪═══════╡
│ Wow... Loved this place.        ┆ 1     │
│ Crust is not good.              ┆ 0     │
│ Not tasty and the texture was … ┆ 0     │
│ Stopped by during the late May… ┆ 1     │
│ The selection on the menu was … ┆ 1     │
└─────────────────────────────────┴───────┘
(1000, 2)

In [ ]:
# Id artificially
df_concat = df.with_columns([
    pl.arange(1, df.height + 1).alias("id")
])

df_concat.write_csv("../data/processed/dataset/data_restaurant_reviews_1.csv")

### Restaurant reviews sentimal analysis

In [ ]:
df = pl.read_csv("../data/original/Restaurant_Reviews/Restaurant reviews.csv", encoding="latin1", ignore_errors=True)

print(df.shape)

for col in df.columns:
    n_unique = df[col].n_unique()
    print(f"{col}: {n_unique} valeurs uniques")

(10000, 8)


Restaurant: 100 valeurs uniques
Reviewer: 7447 valeurs uniques
Review: 9365 valeurs uniques
Rating: 6 valeurs uniques
Metadata: 2478 valeurs uniques
Time: 9783 valeurs uniques
Pictures: 36 valeurs uniques
7514: 2 valeurs uniques

In [13]:
# Id artificially
df_concat = df.with_columns([
    pl.arange(1, df.height + 1).alias("id")
])

df_concat.write_csv("../data/processed/dataset/data_restaurant_reviews_2.csv")

### European restaurant reviews

In [ ]:
df = pl.read_csv("../data/original/Restaurant_Reviews/European Restaurant Reviews.csv")

print(df.shape)

for col in df.columns:
    n_unique = df[col].n_unique()
    print(f"{col}: {n_unique} valeurs uniques")

(1502, 6)


Country: 7 valeurs uniques
Restaurant Name: 7 valeurs uniques
Sentiment: 2 valeurs uniques
Review Title: 1343 valeurs uniques
Review Date: 143 valeurs uniques
Review: 1426 valeurs uniques

In [16]:
# Id artificially
df_concat = df.with_columns([
    pl.arange(1, df.height + 1).alias("id")
])

df_concat.write_csv("../data/processed/dataset/data_european_restaurant_reviews.csv")

## Activities Reviews

In [ ]:
df = pl.read_csv("../data/original/Activities_Reviews/reviews-activities.csv", encoding="latin1", ignore_errors=True)

print(df.shape)

for col in df.columns:
    n_unique = df[col].n_unique()
    print(f"{col}: {n_unique} valeurs uniques")

(46377, 3)


Text: 45874 valeurs uniques
Review-Activity: 2 valeurs uniques
Season: 4 valeurs uniques

In [8]:
# Id artificially
df_concat = df.with_columns([
    pl.arange(1, df.height + 1).alias("id")
])

df_concat.write_csv("../data/processed/dataset/data_activities_reviews.csv")